.color{
  color: #6c63ff;
}

.active-navbar{
  border: 2px solid #6c63ff;
  display: flex;
  background-color: none;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
  padding:6px 20px 6px !important;
  border-width:2px;
  border-radius:30px;
  transition: ease-in-out 10ms;
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    margin:auto !important;
  }
}
.nav-item{
  font-size: 17px !important;
  text-transform: uppercase;
  padding-left:8px !important;
  padding-right:8px !important;

}

